body {
    background-color: black;
}
.reveal{
    font-size: 2.5vh;
    
    color: white;
    position: absolute;
    left: 61.6vh;
    bottom: 56%;
    
}
/* card nonsense */
.card {
    position: absolute;
    transform-style: preserve-3d;
    height: 200px;
    width: 400px;
    /* perspective is needed for the flip*/
    perspective: 800px;
    left:35%;
    bottom: -25%;
    animation-name: cardToCenter,flipCard;
    animation-duration: 1.2s,1.5s;
    animation-delay: 0s,1.2s;
    animation-timing-function: cubic-bezier(0.175, 0.685, 0.42, 1.475),
        cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
    
}
.voidCard{
    position: absolute;
    height: 200px;
    width: 400px;
    left: 36%;
    top: 43.2%;
    border-radius: 1.45rem;
    background-color: rgb(73, 66, 66);
    animation: cardsToVoidPile;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;

}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 1.45rem;
    backface-visibility: hidden;
}
.front {
    background-color: grey;
    position: absolute;
}
.back{
    position: absolute;
    /* because the card will be flipped this needs to be upside down*/
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: large;
    background-image: url(./Sprites/blankCard.svg);
    background-size: 100%;
}

.promptTextSingleLine{
    position: relative;
    bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20spx;
    line-height: 1;
}
.promptTextMultiLine{
    position: relative;
    top: 9px;
    line-height: 2;
    color: blueviolet;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20spx;
    max-width: 100%;
    max-height: 100%;
}
.destroyableBack {
    background-color: rgb(63, 74, 69);
}
/* moving the cards from place to place w/JS*/
.toFailPosition{
    animation: cardToFailed;
}
.toSuccessfulPosition{
    animation: cardsToSuccess;
}
.toFailPosition, .toSuccessfulPosition, .toVoid{ /* animation properties are the same for both*/
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    transform: rotateX(180deg);
}

/* it is current 10:23 and I'm to tired to figure out the right way*/
.ReturnToDeckFromLeft{
    animation: CardsReturningToDeckFromLeft;
    animation-duration: 1450ms;
    animation-fill-mode: forwards;
}
.ReturnToDeckFromRight{
    animation: CardsReturningToDeckFromRight;
    animation-duration: 1450ms;
    animation-fill-mode: forwards;
}

/* for the text Input*/
.awnser{
    width: 42.4vh;
    height: 10vh;
    position: absolute;
    left: 36.35%;
    bottom: 10%;
    text-align: center;
}
/* streak counter stuff*/ 
.streakCounter{
    font-size: 5vh;
    color: white;
    position: absolute;
    left: 56vh;
    bottom: 20%;
    
}

/* animations whooooo!!! */
@keyframes cardToCenter{
    0% {
        bottom: -25%;
        left: 36%;
    }
    100% { 
        bottom: 35%;
        left: 36%;
    }
}
@keyframes CardsReturningToDeckFromLeft{
    0%{
        left:-125%;
        bottom: -70%;
        scale: 80%;
    }
    100% {
        left:0%;
        bottom: 300%;
        left: 0%;
        scale: 100%;
    }
}
@keyframes CardsReturningToDeckFromRight{
    0%{
        left:130%;
        bottom: -70%;
        scale: 80%;
    }
    100% {
        left:0%;
        bottom: 300%;
        scale: 100%;
    }
}
@keyframes CaCardsReturningToDeckFromVoid{
    0%{
        left: 0%;
        scale: 80%;
        bottom: -170%;
    }
    100% {
        left:0%;
        bottom: 300%;
        scale: 100%;
    }
}
@keyframes cardToFailed {
    0% {
        left: 0%;
        scale: 100%;
        bottom: 0%;
        transform: rotateX(180deg);
    }
    100%{
       left: -125%;
       bottom: -70%;
       scale: 80%;
       transform: rotateX(180deg);
    }
}
@keyframes cardsToSuccess {
    0% {
        left: 0%;
        scale: 100%;
        bottom: 0%;
        transform: rotateX(180deg);
    }
    100%{
       left: 140%;
       bottom: -70%;
       scale: 80%;
       transform: rotateX(180deg);
    }
}
@keyframes cardsToVoidPile{
    0% {
        top: 43.2%;
        left: 36%;
        scale: 100%;
    }
    100% {
        top: 0%;
        left: 36%;
        scale: 90%;
    }
}
@keyframes flipCard {
    0% {
        transform: rotateX(0deg);
    }
    100% {
       transform: rotateX(180deg);
    }
}